body {
    margin: 20px;
    padding: 0px;
    background-color: white;
}


#resume-container {
    max-width: 600px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#pi {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

fieldset {
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(207, 229, 229);
}

legend {
    font-weight: bold;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100%);
    border: 1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button :hover {
    color: blue;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}